.cart_items{
    /* width: 1004px !important; */
    margin-top: 27px !important;
}
.cart_body{
    width: 1004px;
    margin-left: 1px;
    box-shadow: 0px 0px 5px #e3e3e3;
    margin-top: 23px;
}
.cart_summary{
    width: 16rem;
    height: 281px;
    margin-top: 26px;
}
.cart_card{
    margin-top: 29px;
}
.cart_display{
    box-shadow: 0px 0px 5px #ccc; 
}
.cart_price{
    margin-top: 62px;
    margin-left: -143px;

}
.productinfo {
    text-align: left;
    width: 55%;
    display: flex;
    align-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}
.productinfo h6, .productinfo h5, .productinfo div, .productinfo p {
    width: 100%;
}
.summary_title{
    margin-left: -88px;
    margin-top: -27px;
}
.Placeorder_btn{
    width: 211px;
    background-color: #FAB143;

}
.minus_icon{
    width: 19px;
    background-color: #ccc;
    height: 17px;
    cursor: pointer;
}
.plus_icon{
    width: 19px;
    background-color: #ccc;
    height: 17px;
    cursor: pointer;
}
.quantity_field{
    width: 27px;
    height: 20px;
}
.card-text{
    text-align: initial;
}
.card-title{
    color: #FAB143;
}
.remove_currency{
    text-align: end;
}

@media screen and (max-width: 767px){
    .cart_div{
        display: flex;
        flex-wrap: wrap;
     }
     .contain{
        max-width: 98%;
     }
     .productinfo{
        width: 60%;
    }
    .remove_currency{
        width: 20%;
        text-align: right;
    }

}