.Footer{
    background-color: lightgray;
}
.footer_icon{
    margin-right:"128px"
}
.footer_img{
    display: flex;
}
.connect_with{
    color: blue;
     /* margin-left:"-165px" */
     display: flex;
}
.block_a{
  text-align: justify;
  margin-top: 32px !important;
}
.block_b{
    text-align: justify;
    margin-top: 32px !important;
}
.block_c{
    text-align: justify;
    margin-top: 32px !important;
}
.block_d{
    text-align: justify;
    margin-top: 32px !important;
}
.background{
    background-color: #f4f6f7;
}
.FooterHeading{
    font-size: 20px;
}
@media screen and (max-width: 767px){
    .footer_icon{
        display: flex !important;
    }
    .block_a{
        margin-right: 53px;
    }
}