.card.text-black {
    border: none;
}
.form-control{
    border-top: none !important;
    border-right: none !important;
    border-left: none !important ;
}
.order-lg-1 {
    order: 1!important;
    margin-left: 500px;
    margin-top: 90px !important;
}
.text-center{
    margin-left: 200px;
}
.form{
    margin-right: 5px;
}
.loginbtn{
    margin-left: -206px !important;
    width: 133px !important;
}
.remember{
    margin-right: 233px;
}
.forgot_pwd{
    width: 46%;
    margin-left: auto;

}
.reset_btn{
    margin-top: 13px;
    width: 240px;
    margin-right: -35px;
}
.mail_icon{
    position: absolute;
    top: 234px;
    left: 576px;
}
@media screen and (max-width: 700px){
    .mail_icon {
        top: 575px;
        left: 45px;
    }
    .reset_btn{
        margin-right: 156px;
    }
}