.forgetbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 0;
}
.forleft img {
    max-width: 100%;
    width: 85%;
}
.forleft {
    width: 100%;
    text-align: left;
}
.more-size {
    max-width: 1200px;
    margin: 0 auto;
}
.forright {
    width: 100%;
}
.forright h6 {
    font-size: 45px;
    text-align: left;
    margin-bottom: 37px;
    text-transform: capitalize;
}
.forfrm input {
    padding: 10px 10px 12px 25px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    width: 100%;
}
.forfrm input.resetpassbtn {
    background: #ffb300;
    width: auto;
    display: block;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    margin-top: 50px;
    color: #fff;
    font-size: 25px;
}

.forfrm p svg.mail_icon {
    position: absolute;
    top: 14px;
    left: 5px;
}
.forfrm p {
    position: relative;
}
@media screen and (max-width: 700px){
    .forgetbox{
        display:flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
    }
    .forleft img{
        width: 100%;
    }
}