.card.text-black {
    border: none;
}
.form-control{
    border-top: none !important;
    border-right: none !important;
    border-left: none !important ;
}
.order-lg-1 {
    order: 1!important;
    margin-left: 500px;
    margin-top: 90px !important;
}
.text-center{
    margin-left: 200px;
}
.form{
    margin-right: 5px;
}
.loginbtn{
    margin-left: -206px !important;
    width: 133px !important;
}
.Login_remember{
    margin-right: 250px;
    /* margin-top: 23px; */
}
.Login_parent{
    position: relative;
}
.Lsignup{
    color: black;
    text-decoration: auto;
}
.login_body{
    display: flex;
    align-items: center;
    padding-left: 83px !important;
}
.login_icon{
    position: absolute;
    top: 24px;
    left: 15px;
}
.login_icons{
    position: absolute;
    top: 24px;
    left: 15px;
}
.Login_container{
    width: 100%;
}

.Login_forgot_pwd a{
    text-decoration: none;
}
.Have_an{
 
    text-align: left;
}
h1.Login_btn {
    text-align: left;
    margin: 23px 1.5rem;
}
.inputLogin_field{
    padding-left: 41px !important;
    margin-top: 14px;
}
.LOginbtn_div{
    margin-left: 0 !important;
    text-align: left;
    display: block !important;
}
@media screen and (max-width: 700px) {
    .login{
        margin-right: 285px !important
        /* display: flex !important ; */
    } 
    .Login_btn {
    /* margin-right: 338px */
    display: flex ;

   }
   .remember{
    /* margin-right: 304px; */
    display: flex;
    margin-top: 30px;
    margin-left: 12px;
   }
   .box{
    margin-top: 6px !important;
   }
   .Have_an{
   margin-left: 12px;
 }
 .boxes{
    margin-left: 0px ;
 }
.Have_an{
    text-align: initial;
}
.login_body {
    display: block;
    padding-left: 0px !important;
}
h1.Login_btn{
    margin-left: 4px;
}
  }