.card.text-black {
    border: none;
}
.form-control{
    border-top: none !important;
    border-right: none !important;
    border-left: none !important ;
}
.order-lg-1 {
    order: 1!important;
    margin-left: 500px;
    margin-top: 90px !important;
}
.text-center{
    margin-left: 200px;
}
.form{
    margin-right: 5px;
}
.loginbtn{
    margin-left: -206px !important;
    width: 133px !important;
}
.remember{
    margin-right: 233px;
}
.reset_text{
    border-bottom: 0;
}
.resetpwd_btn{
    width: 325px;
    /* margin-right: 80px;
    margin-top: 13px; */
}
@media screen and (max-width: 700px){
    /* .resetpwd_btn{
        margin-right: auto;
    } */
}